{%extends 'base.html'%}
{%load static%}




{% block 'css' %}

 <!--Css link-->
 <link rel="stylesheet" href="{%static 'estilo/produtos.css'%}">
 <link rel="stylesheet" href="{%static 'estilo/geral.css'%}">
 <!--Css link-->

{% endblock 'css' %}


{% block 'corpo' %}



    <!--Carousel-->
    <div class="container">

        <div class="InfoBox">
            
            <!--<div class="img">
                <img src="estilo/img/roxo.png" alt="">
            </div>-->

            <div class="msg">

                <h1>Recado da mankey</h1>

                <p>Nosso site <span class="text-success">ainda</span> não possui um método de pagamento! Assim que você <span class="text-success">escolher o produto irá ser redirecionado</span> para o mercado livre, ou outro site de sua prefêrencia!</p>

                <small>Em breve teremos o sistema de compras aqui!!</small>
            </div>

        </div>

    </div>
    <!--Carousel-->

    <!--Produtos-->
    <div class="produtos container-fluid">

        <div class="Box container">
            <h1 id="title">Produtos Mais Vendidos</h1>

            <div class="BoxProdutos">

                <div class="produto-item">

                    <div class="produto-img">
                        <img src="estilo/img/roxo.png" alt="">
                    </div>
                    <div class="info">
                    <h5>Camiseta</h4>
                    <h6>R$ 89,99</h6></div>

                    <div class="info-ani">
                        <button>Ver detalhes</button>
                    </div>
                </div>

                <div class="produto-item">

                    <div class="produto-img">
                        <img src="estilo/img/roxo.png" alt="">
                    </div>

                    <h5>Camiseta</h4>
                    <h6>R$ 89,99</h6>
                </div>

                <div class="produto-item">

                    <div class="produto-img">
                        <img src="estilo/img/roxo.png" alt="">
                    </div>

                    <h5>Camiseta</h4>
                    <h6>R$ 89,99</h6>
                </div>

                <div class="produto-item">

                    <div class="produto-img">
                        <img src="estilo/img/roxo.png" alt="">
                    </div>

                    <h5>Camiseta</h4>
                    <h6>R$ 89,99</h6>
                </div>


                <div class="produto-item">

                    <div class="produto-img">
                        <img src="estilo/img/roxo.png" alt="">
                    </div>
                    <div class="info">
                    <h5>Camiseta</h4>
                    <h6>R$ 89,99</h6></div>

                    <div class="info-ani">
                        <button>Ver detalhes</button>
                    </div>
                </div>

                <div class="produto-item">

                    <div class="produto-img">
                        <img src="estilo/img/roxo.png" alt="">
                    </div>
                    <div class="info">
                    <h5>Camiseta</h4>
                    <h6>R$ 89,99</h6></div>

                    <div class="info-ani">
                        <button>Ver detalhes</button>
                    </div>
                </div>

                <div class="produto-item">

                    <div class="produto-img">
                        <img src="estilo/img/roxo.png" alt="">
                    </div>
                    <div class="info">
                    <h5>Camiseta</h4>
                    <h6>R$ 89,99</h6></div>

                    <div class="info-ani">
                        <button>Ver detalhes</button>
                    </div>
                </div>
                <div class="produto-item">

                    <div class="produto-img">
                        <img src="estilo/img/roxo.png" alt="">
                    </div>
                    <div class="info">
                    <h5>Camiseta</h4>
                    <h6>R$ 89,99</h6></div>

                    <div class="info-ani">
                        <button>Ver detalhes</button>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <!--Produtos-->



{% endblock 'corpo' %}



